{% extends "base.html" %}

{% block title_tap %}{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/compiled/css/auth.css">
{% endblock %}

{% block base_content %}
<div id="auth">
    <div class="row h-100">
        <div class="col-10">
            <div id="auth-left">
                <div class="auth-logo">
                    <a href="{{ url_for('main.index') }}"><img src="/static/compiled/svg/logo.svg" alt="Logo"></a>
                </div>
                {% block auth_h1Class_and_pClass %} {% endblock %}

                {% block auth_form %}{% endblock %}

                <div class="text-center mt-5 text-lg fs-4">
                    {% block auth_msg %} {% endblock %}
                </div>
            </div>
        </div>
        <div class="col-2 d-none d-lg-block">
            <div id="auth-right">
                {% block options %}{% endblock %}
            </div>
        </div>
    </div>

</div>
{% endblock %}