<!-- index.html -->
{% extends "base_with_layout.html" %}
<!-- base에서 상속받는 block: 
     사용 : title_tap, base_content, js_block 
     미사용 : css -->
<!-- base_with_layout이 상속해주는 block: 
     page-heading : page_title, page_desc
     page-content : page_content
     js_block2 -->

{% block title_tap %}
Home
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/compiled/css/iconly.css">{% endblock %}

{% block page_title %}HOME{% endblock %}

{% block page_content %}
<section class="row">
    <div class="col-12 col-lg-9">
        <div class="row">

            <div class="col-6">
                <div class="card">
                    <div class="card-body px-4 py-4-5">
                        <div class="row">
                            <div class="col-12 d-flex justify-content-start ">
                                <div class="stats-icon blue mb-2">
                                    <i class="iconly-boldProfile"></i>
                                </div>
                            </div>
                            <div class="col-12">
                                <h6 class="text-muted font-semibold">Food store</h6>
                                <h6 class="font-extrabold mb-0">infinite</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-body px-4 py-4-5">
                        <div class="row">
                            <div class="col-md-12 d-flex justify-content-start ">
                                <div class="stats-icon green mb-2">
                                    <i class="iconly-boldAdd-User"></i>
                                </div>
                            </div>
                            <div class="col-">
                                <h6 class="text-muted font-semibold">Following</h6>
                                <h6 class="font-extrabold mb-0">80.000</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Koean Foodstore Visit</h4>
                    </div>
                    <div class="card-body">
                        <div id="chart-profile-visit"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">음식점 </h5>
                    <p class="card-text">가까운 음식점을 찾아보세요.</p>
                    <a href="{{ url_for('kakao.home') }}" class="btn btn-primary">지도 보기</a>
                </div>
            </div>
        </div>
        
        <!-- <div class="row">
            <div class="col-12 col-xl-4">
                <div class="card">
                    <div class="card-header">
                        <h4>Profile Visit</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-7">
                                <div class="d-flex align-items-center">
                                    <svg class="bi text-primary" width="32" height="32" fill="blue" style="width:10px">
                                        <use xlink:href="/static/static/images/bootstrap-icons.svg#circle-fill" />
                                    </svg>
                                    <h5 class="mb-0 ms-3">Europe</h5>
                                </div>
                            </div>
                            <div class="col-5">
                                <h5 class="mb-0 text-end">862</h5>
                            </div>
                            <div class="col-12">
                                <div id="chart-europe"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-7">
                                <div class="d-flex align-items-center">
                                    <svg class="bi text-success" width="32" height="32" fill="blue" style="width:10px">
                                        <use xlink:href="/static/static/images/bootstrap-icons.svg#circle-fill" />
                                    </svg>
                                    <h5 class="mb-0 ms-3">America</h5>
                                </div>
                            </div>
                            <div class="col-5">
                                <h5 class="mb-0 text-end">375</h5>
                            </div>
                            <div class="col-12">
                                <div id="chart-america"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-7">
                                <div class="d-flex align-items-center">
                                    <svg class="bi text-danger" width="32" height="32" fill="blue" style="width:10px">
                                        <use xlink:href="/static/static/images/bootstrap-icons.svg#circle-fill" />
                                    </svg>
                                    <h5 class="mb-0 ms-3">Indonesia</h5>
                                </div>
                            </div>
                            <div class="col-5">
                                <h5 class="mb-0 text-end">1025</h5>
                            </div>
                            <div class="col-12">
                                <div id="chart-indonesia"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-8">
                <div class="card">
                    <div class="card-header">
                        <h4>Latest Comments</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-lg">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Comment</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="col-3">
                                            <div class="d-flex align-items-center">
                                                <div class="avatar avatar-md">
                                                    <img src="/static/compiled/jpg/5.jpg">
                                                </div>
                                                <p class="font-bold ms-3 mb-0">Si Cantik</p>
                                            </div>
                                        </td>
                                        <td class="col-auto">
                                            <p class=" mb-0">Congratulations on your graduation!</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-3">
                                            <div class="d-flex align-items-center">
                                                <div class="avatar avatar-md">
                                                    <img src="/static/compiled/jpg/2.jpg">
                                                </div>
                                                <p class="font-bold ms-3 mb-0">Si Ganteng</p>
                                            </div>
                                        </td>
                                        <td class="col-auto">
                                            <p class=" mb-0">Wow amazing design! Can you make another
                                                tutorial for
                                                this design?</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
    <div class="col-12 col-lg-3">
        <div class="card">
            <div class="card-body py-4 px-4">
                <div class="d-flex align-items-center">
                    <div class="avatar avatar-xl">
                        <img src="/static/compiled/jpg/1.jpg" alt="Face 1">
                    </div>
                    <div class="name ms-3">
                        {% if session.get('loginuser') %}
                        <h5 class="font-bold">{{session['loginuser']['memberid'] }}</h5>
                        <h6 class="text-muted mb-2">@{{session['loginuser']['memberid'] }}</h6>
                            <a href="{{ url_for('auth.logout') }}"><i class="bi bi-toggle-off"></i><span class="text-muted ms-1 mb-0">Logout</span></a>
                        {% else %}
                        <h5 class="font-bold mb-2">Login</h5>
                        <div class="name ms-0 fs-6">
                            <a href="{{ url_for('auth.register') }}"><i class="bi bi-person-plus"></i><span class="text-muted ms-1 mb-0">Register</span></a><br>
                            <a href="{{ url_for('auth.login') }}"><i class="bi bi-toggle-on"></i><span class="text-muted ms-1 mb-0">Login</span></a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js_block2 %}
<!-- Need: Apexcharts -->
<script src="/static/extensions/apexcharts/apexcharts.min.js"></script>
<script src="/static/static/js/pages/dashboard.js"></script>
{% endblock %}