{% extends "base_with_layout.html" %}
<!-- base.html에서 상속받는 block: 
     base_with_layourt.html에서 사용하는 block: title_tap, base_content, js_block, 
     base_with_layourt.html에서 사용 안하는 block:css -->
<!-- base_with_layout.html에서 상속받는 block: 
     page-heading : page_title, page_desc / page-content : page_content / js_block2 -->

{% block title_tap %}
Write
{% endblock %}

<!-- page-heading -->
{% block page_title %}
Write
{% endblock %}
{% block page_desc %}
Share your thoughts with the community. Fill in the details below and submit your post.
{% endblock %}

<!-- page-content -->
{% block page_content %}
<div class="row match-height">
    <div class="col-md-12 col-12">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                        <ul>
                            {% for field, errors in form.errors.items() %}
                            {% for error in errors %}
                            <li class="ml-2">{{error}}</li>
                            {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    <form class="form form-vertical" id="form-write" action="{{ url_for('board.write') }}" method="post">
                        {{ form.csrf_token }}
                        <div class="form-body">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="title">Title</label>
                                        <input type="text" id="title" class="form-control" name="title" placeholder="Enter Title">
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label for="writer">Writer</label>
                                        <input type="text" id="writer" class="form-control" name="writer" value="{{ session['loginuser']['memberid'] }}" readonly>
                                    </div>
                                </div>
                                <div class="col-9">
                                    <div class="form-group">
                                        <label for="attachment" class="form-label">Attachment</label>
                                        <input id="attachment" class="form-control form-control-sm" name="attachment" type="file">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="content">Content</label>
                                        <textarea id="content" name="content" rows="12" class="form-control"
                                            style="resize: none;" placeholder="Enter Content"
                                            area-multiline="ture"></textarea>
                                    </div>
                                </div>
                                <div class="col-12 d-flex justify-content-end">
                                    <button type="submit" class="btn btn-primary me-1 mb-1">Submit</button>
                                    <button type="reset" class="btn btn-light-secondary me-1 mb-1">Reset</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}