{% extends "base_auth.html" %}

{% block title %}
Forgot Password - Mazer Admin Dashboard
{% endblock %}

{% block auth_h1Class_and_pClass %}
<h1 class="auth-title">Forgot Password</h1>
<p class="auth-subtitle mb-5">Input your email and we will send you reset password link.</p>
{% endblock %}

{% block auth_form %}
<form action="" method="post">
    <div class="form-group position-relative has-icon-left mb-4">
        <input type="email" class="form-control form-control-xl" placeholder="Email">
        <div class="form-control-icon">
            <i class="bi bi-envelope"></i>
        </div>
    </div>
    <button class="btn btn-primary btn-block btn-lg shadow-lg mt-5">Send</button>
</form>
{% endblock %}

{% block auth_msg %}
<p class='text-gray-600'>Remembered your password? 
    <a href="{{ url_for('auth.login') }}" class="font-bold">Log in</a>
</p>
{% endblock %}