
{% extends "base_with_layout.html" %}

{% block page_title %}
    Kakao 지도
{% endblock %}

{% block page_desc %}
{% endblock %}

{% block page_content %}
<body>

<!-- 클릭한 좌표 결과 표시 -->

<div id="result" style="margin: 10px 0; font-weight: bold; font-size: 14px; color: #333;"></div>

<div id="map" style="width:1000px;height:600px;"></div>



<!-- services와 clusterer, drawing 라이브러리 불러오기 -->


<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey={{'5c8e0a3d03e1cb150baf2fe5e60a981b'}}&libraries=services"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-3.7.1.js"></script>

<script>

    const foodName = "{{ foodname }}";

    let map = null;
    let infowindow = null;
    function refresh_map(lat, lng) {
        var mapContainer = document.getElementById('map'); // 지도를 표시할 div
        var mapOption = {
            center: new kakao.maps.LatLng(lat, lng), // 지도 중심좌표 (예: 서울 시청)
            level: 3 // 초기 지도 레벨
        };

        // 지도를 생성합니다    
        map = new kakao.maps.Map(mapContainer, mapOption);

        // 인포윈도우 객체를 생성합니다
        infowindow = new kakao.maps.InfoWindow({zIndex:1});

        // 일반 지도와 스카이뷰로 지도 타입을 전환할 수 있는 지도타입 컨트롤을 생성합니다
        var mapTypeControl = new kakao.maps.MapTypeControl();

        // 지도에 컨트롤을 추가해야 지도위에 표시됩니다
        // kakao.maps.ControlPosition은 컨트롤이 표시될 위치를 정의하는데 TOPRIGHT는 오른쪽 위를 의미합니다
        map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPRIGHT);

        // 지도 확대 축소를 제어할 수 있는  줌 컨트롤을 생성합니다
        var zoomControl = new kakao.maps.ZoomControl();
        map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);
    }


    // // 장소 검색 객체를 생성합니다
    // var ps = new kakao.maps.services.Places(); 

    // // 키워드로 장소를 검색합니다
    // if (foodName) {
    //     ps.keywordSearch(foodName + ' 맛집', placesSearchCB); 
    // } else {
    //     // ps.keywordSearch(foodName + ' 맛집', placesSearchCB); 
    // }
    // // 키워드 검색 완료 시 호출되는 콜백함수 입니다
    // function placesSearchCB (data, status, pagination) {
    //     if (status === kakao.maps.services.Status.OK) {

    //         // 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
    //         // LatLngBounds 객체에 좌표를 추가합니다
    //         var bounds = new kakao.maps.LatLngBounds();

    //         for (var i=0; i<data.length; i++) {
    //             displayMarker(data[i]);    
    //             bounds.extend(new kakao.maps.LatLng(data[i].y, data[i].x));
    //         }       

    //         // 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
    //         map.setBounds(bounds);
    //     } 
    // }

    // 지도에 마커를 표시하는 함수입니다
    // function displayMarker(place) {
        
    //     // 마커를 생성하고 지도에 표시합니다
    //     var marker = new kakao.maps.Marker({
    //         map: map,
    //         position: new kakao.maps.LatLng(place.y, place.x) 
    //     });

    //     // 마커에 클릭이벤트를 등록합니다
    //     kakao.maps.event.addListener(marker, 'click', function() {
    //         // 마커를 클릭하면 장소명이 인포윈도우에 표출됩니다
    //         infowindow.setContent('<div style="padding:5px;font-size:12px;">' + place.place_name + '</div>');
    //         infowindow.open(map, marker);
            
            
    //         // 마커에 mouseover 이벤트와 mouseout 이벤트를 등록합니다
    //     // 이벤트 리스너로는 클로저를 만들어 등록합니다 
    //     // for문에서 클로저를 만들어 주지 않으면 마지막 마커에만 이벤트가 등록됩니다
    //     kakao.maps.event.addListener(marker, 'click', makeOverListener(map, marker, infowindow));
    //     kakao.maps.event.addListener(marker, 'click', makeOutListener(infowindow));
    //     });
    // }

    function displayMarker2(place) {
        
        // 마커를 생성하고 지도에 표시합니다
        var marker = new kakao.maps.Marker({
            map: map,
            position: new kakao.maps.LatLng(place['lat'], place['lng']) 
        });

        // 마커에 클릭이벤트를 등록합니다
        kakao.maps.event.addListener(marker, 'click', function() {
            // 마커를 클릭하면 장소명이 인포윈도우에 표출됩니다
            infowindow.setContent('<div style="padding:5px;font-size:12px;">' + place['place_name'] + '</div>');
            infowindow.open(map, marker);
            
            
            // 마커에 mouseover 이벤트와 mouseout 이벤트를 등록합니다
        // 이벤트 리스너로는 클로저를 만들어 등록합니다 
        // for문에서 클로저를 만들어 주지 않으면 마지막 마커에만 이벤트가 등록됩니다
        kakao.maps.event.addListener(marker, 'click', makeOverListener(map, marker, infowindow));
        kakao.maps.event.addListener(marker, 'click', makeOutListener(infowindow));
        });
    }

    function search_store(lat, lon) {

        $.ajax({
            "url": "/kakao/search-store",
            "method": "get",
            "data": {"x": lon, "y": lat, "query": foodName},
            "type": "json",
            "success": function(resp, status, xhr) {
                if (resp['result'] == 'success') {
                    $.each(resp['data'], function(idx, place) {
                        displayMarker2(place);
                    })
                } else {
                    alert('fail 2');
                }
            },
            "error": function(xhr, status, err) {
                alert('fail');
            }
        })

    }

    // 현재 위치를 받아오는 함수
    function getCurrentLocation() {
        // Geolocation API를 사용하여 현재 위치를 받아오기
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var lat = position.coords.latitude;  // 위도
                var lon = position.coords.longitude; // 경도
                // displayMap(lat, lon);  // 카카오맵에 위치 표시
                // alert(`${lat} - ${lon}`);
                refresh_map(lat, lon);
                search_store(lat, lon);
            }, function(error) {
                alert("위치를 가져오지 못했습니다.");
            });
        } else {
            alert("이 브라우저는 Geolocation을 지원하지 않습니다.");
        }
    }
    getCurrentLocation()


</script>


{% endblock %}
