<div class="card">
    <div class="card-header">
        <h4 class="card-title">Select the Meats You Don't Eat</h4>
    </div>
    <div class="card-content">
        <div class="card-body">
            <ul class="list-unstyled mb-0">
                <li class="d-inline-block me-2 mb-1">
                    <div class="form-check form-check-inline">
                        <div class="checkbox">
                            <input type="checkbox" class="form-check-input" id="beef" value="beef">
                            <label for="Beef">Beef</label>
                        </div>
                    </div>
                </li>
                <li class="d-inline-block me-2 mb-1">
                    <div class="form-check form-check-inline">
                        <div class="checkbox">
                            <input type="checkbox" class="form-check-input" id="pork" value="pork">
                            <label for="Pork">Pork</label>
                        </div>
                    </div>
                </li>
                <li class="d-inline-block me-2 mb-1">
                    <div class="form-check form-check-inline">
                        <div class="checkbox">
                            <input type="checkbox" class="form-check-input" id="chicken" value="chicken">
                            <label for="Chicken">Chicken</label>
                        </div>
                    </div>
                </li>
                <li class="d-inline-block me-2 mb-1">
                    <div class="form-check form-check-inline">
                        <div class="checkbox">
                            <input type="checkbox" class="form-check-input" id="none" value="none">
                            <label for="None">None (eat all)</label>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>