{% extends "base_with_layout.html" %}
<!-- base.html에서 상속받는 block: 
     base_with_layourt.html에서 사용하는 block: title_tap, base_content, js_block, 
     base_with_layourt.html에서 사용 안하는 block:css -->
<!-- base_with_layout.html에서 상속받는 block: 
     page-heading : page_title, page_desc / page-content : page_content / js_block2 -->

{% block title_tap %}
Cuisine Vision
{% endblock %}

<!-- page-heading -->
{% block page_title %}
Cuisine Vision
{% endblock %}
{% block page_desc %}
Discover and classify 150 types of food images with ease. Your personal food AI companion.
{% endblock %}

<!-- page-content -->
{% block page_content %}
<div class="row match-height">
    <div class="col-md-12 col-12">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <form id="form-predict" class="form form-vertical"
                          action="/serving/predict/" method="POST">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="img_input" class="form-label">Add Food Image</label>
                                        <input id="img_input" class="form-control form-control-sm" name="img_input" type="file">
                                    </div>
                                </div>
                                <div class="col-3 col-md-2">
                                    <label for="img_preview" class="form-control-label">Image Preview</label>
                                </div>
                                <div class="col-3 col-md-2">
                                    <img id="img_preview">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="result">Classification Results</label>
                                        <textarea id="result" rows="7" readonly class="form-control" style="resize: none;"></textarea>
                                    </div>
                                </div>
                                &nbsp;&nbsp;
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label for="recipe_output" class="form-control-label">Recipe</label>
                                    </div>
                                    &nbsp;&nbsp;
                                    <div class="col-md-12">
                                        <div id="recipe_output" class="form-control" style="height:auto;" name="recipe_output"></div>
                                    </div>
                                </div>
                                &nbsp;&nbsp;
                                <div class="col-12 d-flex justify-content-end">
                                    <button id="btn-toggle-lang" type="button" class="btn btn-secondary me-1 mb-1">Switch Language</button>
                                    <a id="maplink" href="javascript:" target="_blank" class="btn btn-success">음식점 찾기</a>

                                </div>
                                &nbsp;&nbsp;                             
                                <div class="col-12 d-flex justify-content-end">
                                    <button id="btn-predict" type="button" class="btn btn-primary me-1 mb-1">Predict</button>
                                    <button id="btn-reset" type="reset" class="btn btn-light-secondary me-1 mb-1">Reset</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js_block2 %}
<script>
    $(function() {
    
    // 파일 선택기에 파일이 선택되었을 때 (선택된 파일이 변경되었을 때)
    $('#img_input').on('change', function(event) {
        const file = event.target.files[0];
        if (file) { // 선택된 파일이 있다면
            const reader = new FileReader();

            reader.onload = function(e) { // 파일을 다 읽었을 때 실행
                $('#img_preview').attr('src', e.target.result);
                $('#img_preview').css("display", "block");
            }

            reader.readAsDataURL(file); // 파일 읽기 시작
        } else {
            $('#img_preview').attr('src', '');
            $('#img_preview').css("display", "none");
        }
    });

    $('#btn-predict').on('click', function(event) {
        $('#form-predict').submit(); // 동기 방식 요청
    });
    
    let currentLang = "kr"; // 초기 언어 설정
    let recipes = [];

    $('#form-predict').on('submit', function(event) { // submit 하기 직전에 자동으로 호출
        event.preventDefault(); // 기본 동작 차단

        const formData = new FormData(this); // <form> 내부의 입력 데이터를 읽어서 변수에 저장

        $.ajax({
            "url" : "/serving/predict/",
            "type": "POST",
            "data": formData,
            "contentType": false,   // 파일 업로드를 위한 설정
            "processData": false,   // 파일 업로드를 위한 설정
            "success": function(result, status, xhr) {
                // 예측된 클래스와 신뢰도 출력
                const msg = `[번호 : ${result.predicted_class}][신뢰도 : ${result.confidence}]`;
                $('#result').val(msg);

                // 응답에 포함된 레시피 데이터를 저장
                recipes = result.recipes;
                displayRecipe(); // 레시피 출력 함수 호출

                $('#maplink').attr('data-foodname', recipes[0].name)
            },
            "error": function(xhr, status, err) { // 요청이 실패하면 호출
                alert('fail to execute predicting');
            }
        });
    });

    // 레시피 표시 함수 (언어 변환 버튼을 눌렀을 때도 사용)
    function displayRecipe() {
        let recipeHtml = '';
        recipes.forEach(recipe => {
            recipeHtml += `
                <div>
                    <h4>${recipe.name} (${recipe.food_name_eng})</h4>
                    <p><strong>재료(ingredient):</strong> ${currentLang === "kr" ? recipe.ingredients_kr : recipe.ingredients}</p>
                    <p><strong>레시피(recipe):</strong></p>
                    <ol>
            `;
            const steps = (currentLang === "kr" ? recipe.recipe_kr : recipe.recipe).split("|");
            recipeHtml += `<ol>`;  // 
            steps.forEach((step, index) => {
                const cleanStep = step.replace(/^\d+\.\s*/, "").trim();  //
                recipeHtml += `<li style="margin-bottom: 10px">${cleanStep}</li>`;
            });
            recipeHtml += `</ol>`;

        });

        $("#recipe_output").html(recipeHtml);
    }

    // 언어 변환 버튼 클릭 시
    $('#btn-toggle-lang').on('click', function() {
        currentLang = (currentLang === "kr") ? "en" : "kr";
        displayRecipe();
    });
    
    $('#btn-reset').on('click', function(event) {
        $('#form-predict')[0].reset(); // 폼 리셋
    });

    $('#maplink').on('click', function(event) {
        event.preventDefault();
        event.stopPropagation();
        const foodname = $(this).data('foodname');
        location.href='/kakao/showstore?foodname='+foodname;

    })
});
</script>
{% endblock %}
